<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../resources/styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div ng-app="ShoppingListCheckOff" class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller="buyCtrl as ToBuyController" class="col-md-6">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in ToBuyController.itemList">Buy {{item.quantity}} {{item.name}}
           <button ng-click="ToBuyController.boughtItem($index)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div ng-if="ToBuyController.isListEmpty() == 'true' || ToBuyController.isListEmpty() == true" class="emptyMessage">
         Everything is bought!
     </div>
    </div>

    <!-- Already Bought List -->
    <div ng-controller="boughtCtrl as AlreadyBoughtController" class="col-md-6">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in AlreadyBoughtController.itemList">Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div ng-if="AlreadyBoughtController.noItemBought() === true" class="emptyMessage">
         Nothing bought yet.
     </div>
    </div>
  </div>
</div>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
